.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
    border: 10px solid black;
}

.child{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: chocolate;
    padding: 5%;
    border: 3px solid orange;
}