body {
    text-align: center;
}
form {
   display: inline-block;
   margin-top: 100px;
   background-color: darkcyan;
   padding: 3%;
   border-radius: 3%;
}
table {
    text-align: left;
}
td{
    border: 2px solid black;
    border-radius: 2%;
    padding: 6px;
}
.header{
    padding: 3%;
    text-align: center;
}
input{
    border: 0px solid black;
}

#disableOption{
    font-weight: bold;
}

#interests{
    font-size: 30px;
}