
form{
    display:flex;
    justify-content: center;
    padding: 100px;
}
fieldset{
    
    padding: 20px;
}
legend{
    color: red;
    font-weight: bold;
}

label,input{
    margin: 10px;
}
#login{
    margin-top: 100px;
}